/*
* --- LOGO ---
*/
@media only screen and (min-width: 330px) and (max-width: 451px)
{
  .logo__hidingSpan {
    display: none;
  }
}

/*
* --- HEADER ---
*/
@media only screen and (max-width: 330px)
{
  :root {
    --header-height: 129px;
  }
  .topPanel__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  .logo {
    font-size: 37px;
    text-align: center;
  }
  .menu {
    margin: 0 auto;
  }
}

/*
* --- DONATION ---
*/
@media only screen and (max-width: 700px),
       only screen and (max-height: 325px)
{
  :root {
    --footer-height: 47px;
  }
  .donation {
    z-index: 11;
    bottom: -21px;
    left: 0;
    right: 0;
    transform: none;
    color: white;
    text-align: center;
  }
  .bottomPanel {
    padding-top: 17px;
  }
}

/*
* --- WIDTH ---
*/
@media only screen and (max-width: 260px)
{
  :root {
    --footer-height: 67px;
  }
  .page {
    overflow-x: scroll;
  }
  .alert {
    position: absolute;
    min-width: 260px;
    min-height: 100vh;
  }
}

/*
* --- HEIGHT ---
*/
@media only screen and (max-height: 450px)
{
  .notification_position_center {
    width: 160px;
    height: 50px;
    padding: 0;
  }
  .notification__text {
    font-size: 120%;
  }
  .notification__text_theme_message {
    display: none;
  }
  .notification__pasteImg {
    display: none;
  }
  .resultScreen .notification__text {
    display: none;
  }
  .notification__copyButton {
    width: 160px;
    height: 50px;
  }
}