:root {
  --more-dark-gray-color: #131315;
  --main-dark-gray-color: #202124;
  --main-light-gray-color: #323639;
  --more-light-gray-color: #41464a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Areal', sans-serif;
  font-variant: small-caps;
  overflow: hidden;
  user-select: none; /* Chrome */
  color: #fff;
}

/* 
* --- CONTAINER ---
*/
.wrapper {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  max-height: 100vh;
}

.view {
  width: 98%;
  max-width: 660px;
  margin: auto;
}

/*
* --- HEADER ---
*/
header {
  z-index: 13;
  width: 100%;
  background-color: var(--main-light-gray-color);
  display: flex;
  height: 70px;
}

.header-logo {
  margin: 15px 11px 0 11px;
  font-size: 37px;
  float: left; 
}

.elem {
  padding-top: 8px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  margin-top: 16px;
  width: 54px;
  height: 54px;
  text-align: center;
}

.switches {
  background-color: var(--main-light-gray-color);
  border: solid;
  border-color: var(--more-light-gray-color);
  border-width: 2px 1px 0 1px;
  border-radius: 30px 30px 0 0 / 15px 15px 0 0;
  box-sizing: border-box;
}

.control-panel {
  float: right;
}

.control-panel input[type=checkbox]{
  display: none;
}

.control-panel input[type=checkbox]:checked + .switches{
  background-color: var(--main-dark-gray-color);
  border-color: var(--more-dark-gray-color);
}

/*
* --- MAIN ---
*/
main {
  flex-grow: 1;
  background: white;
  position: relative;
}

#textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background: white;
  padding: 13px 1px 0 19px;
  border-left: 2px dashed var(--main-light-gray-color);
  border-right: 2px dashed var(--main-light-gray-color);
}

#scroll-gag {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  background: white;
  margin-right: 1px;
  width: 18px;
}

/*
* --- NOTIFICATIONS ---
*/
#bg-circle {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  width: 238px;
  height: 238px;
  border-radius: 50%;
}

#first-board {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

#second-board {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: none;
}

/* Source: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
.centralization {
  position: absolute;
  left:0;
  right:0;
  top: 41%;
  margin: auto;
  text-align: center;
  color: var(--more-dark-gray-color);
  font-weight: bolder;
  font-size: 100%;
}

.centralization img {
  width: 80px;
}

#copy-btn {
  height: 65px;
  background-color: white;
  border: 3px solid var(--more-dark-gray-color);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 4px;
  cursor: pointer;
}

#copy-btn:hover {
  border: 4px solid var(--more-dark-gray-color);
}

#small-size-text {
  font-size: 70%;
  margin: -5px 0 -10px 0;
}

/*
* --- FOOTER ---
*/
footer {
  height: 31px;
  width: 100%;
  background-color: var(--main-light-gray-color);
  z-index: 10;
}

footer p {
  margin-top: 8px;
  font-size: 8pt;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  color: var(--more-light-gray-color);
}

/*
* --- FLEX ---
*/
@media (min-width: 321px) and (max-width: 451px) {
  .header-logo span {
    display: none;
  }
}

@media (min-width: 245px) and (max-width: 320px) {
  header {
    height: 129.5px;
  }

  .header-logo {
    font-size: 37px;
    float: none;
    text-align: center;
  }
  
  .control-panel {
    margin-left: 1px;
    margin-right: 10px;
  }
}