:root {
  --more-dark-gray-color: #131315;
  --main-dark-gray-color: #202124;
  --main-light-gray-color: #323639;
  --more-light-gray-color: #41464a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Areal, sans-serif;
  overflow: hidden;
  user-select: none; /* Works only in Chrome */
  color: #fff;
}

/* 
* --- CONTAINER ---
*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.view {
  width: 60%;
  max-width: 666px;
  margin: auto;
}

/*
* --- HEADER ---
*/
header {
  z-index: 13;
  width: 100%;
  background-color: var(--main-light-gray-color);
  display: flex;
  height: 70px
}

.headerLogo {
  font-variant: small-caps;
  margin-top: 10.5px;
  font-weight: normal;
  font-size: 2.5em;
  float: left;
  /*cursor: pointer;*/
}

.switches{
  background-color: var(--main-light-gray-color);
  border: solid;
  border-color: var(--more-light-gray-color);
  border-width: 2px 1px 0 1px;
  border-radius: 30px 30px 0 0 / 15px 15px 0 0;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 16px;
  width: 54px;
  height: 54px;
  text-align: center;
}

.controlPanel {
  float: right;
}

.controlPanel input[type=checkbox]{
  display: none;
}

.controlPanel input[type=checkbox]:checked + .switches{
  background-color: var(--main-dark-gray-color);
  border-color: var(--more-dark-gray-color);
}

/*
* --- MAIN ---
*/
main {
  flex-grow: 1;
  background: #fff;
  position: relative;
}

#textarea {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  background: #fff;
  padding: 13px 1px 0 19px;
  border-left: 2px dashed var(--main-light-gray-color);
  border-right: 2px dashed var(--main-light-gray-color);
}

#scrollGag {
  position: absolute;
  top: 0;
  bottom: 0;
  right:0;
  background: #fff;
  margin-right: 1px;
  width: 18px;
}

#firstBoard {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

#secondBoard {
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
  display: none;
}

/* Source: https://stackoverflow.com/questions/953918/how-to-align-a-div-to-the-middle-horizontally-width-of-the-page */
.centralization {
  position: absolute;
  width: 40vh;
  height: 20vh;
  top: 50%;
  left: 50%;
  margin: -10vh 0 0 -20vh;
  text-align: center;
  color: black;
  font-variant: small-caps;
  font-weight: bolder;
  font-size: 1em;
}

.centralization img {
    width: 15%;
    height: auto;
}

/*
* --- FOOTER ---
*/
footer {
  height: 30px;
  width: 100%;
  background-color: var(--main-light-gray-color);
  z-index: 10;
}

footer p {
  margin-top: 8px;
  font-size: 8pt;
  font-weight: bold;
  text-align: center;
  color: var(--more-light-gray-color);
}







.button {
  background-color: #555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}